.contact {
  margin: 0 auto;
  padding-top: 30px;
  width: 80%;

  .contact-container {
    @include center;
    background: $color1;
    height: 520px;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      height: 1000px;
    }
  }

  .contact-container-left {
    width: 50%;
    box-shadow: inset 0px 0px 0 $color3;
    padding: 50px 0;

    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      label {
        color: $color4;
        letter-spacing: 0.1rem;
        font-size: 0.7rem;
        margin-bottom: 10px;
      }
      input {
        border: 1px solid $color3;
        border-radius: 6px;
        height: 40px;
        margin-bottom: 10px;
        background: $color1;
      }
      input:active,
      input:focus {
        outline: 1px solid $color3;
      }
      textarea {
        border: 1px solid $color3;
        border-radius: 6px;
        height: 160px;
        margin-bottom: 10px;
        background: $color1;
        resize: none;
        margin-bottom: 40px;
      }
      textarea:active,
      textarea:focus {
        outline: 1px solid $color3;
      }
      button {
        border: 2px solid $color4;
        color: $color4;

        &:hover {
          background: $color5;
          color: $color2;
          border: 2px solid $color2;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
  }

  .contact-container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    // box-shadow: inset 1px 0 0 $color3;
    height: 100%;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    .ccr-section-first {
      display: grid;
      grid-template-columns: 30% 70%;
      padding: 0 0 0 30px;
      height: 25%;
      box-shadow: inset 1px 0 0 $color3;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1000px) {
        box-shadow: inset 0 1px 0 $color3;
      }
    }

    .ccr-section {
      display: grid;
      grid-template-columns: 30% 70%;
      padding: 0 0 0 30px;
      height: 25%;
      box-shadow: inset 1px 1px 0 $color3;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1000px) {
        box-shadow: inset 0 1px 0 $color3;
      }

      .ccrs-txt .fa-brands {
        border: 1px solid $color3;
        border-radius: 25px;
        height: 40px;
        width: 40px;
        padding: 10px 0 0 12px;
        margin-right: 10px;

        &:hover {
          background: $color6;
          border: 1px solid $color6;
          cursor: pointer;
          transition: 0.3s;
        }
      }
    }

    .ccrs-txt p {
      color: $color6;
      font-size: 0.8rem;
      line-height: 25px;
    }
  }
}
