.section2 {
  background-color: $color1;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  box-shadow: inset 1px 1px 0 $color3;

  .section2-container {
    @include center;
    flex-direction: column;
    padding: 50px 30px;
    box-shadow: inset 1px 0 0 $color3;

    .section2-date {
      font-family: $font2;
      padding-bottom: 20px;
      font-size: 0.8rem;
      font-weight: 500;
    }

    .section2-h3 {
      width: 40%;
      text-align: center;
      padding-bottom: 20px;
    }

    .section2-img {
      background: url(../img/pic02.jpg) center/cover no-repeat;
      width: 90%;
      height: 270px;

      @media screen and (max-width: 1000px) {
        height: 200px;
        width: 80%;
      }
    }

    .section2-img2 {
      background: url(../img/pic03.jpg) center/cover no-repeat;
      width: 90%;
      height: 270px;

      @media screen and (max-width: 1000px) {
        height: 200px;
        width: 80%;
      }
    }

    .section2-txt {
      width: 90%;
      text-align: left;
      padding: 30px 10px 30px 0;
      line-height: 30px;
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}
