.section1 {
  background: $color1;
  width: 80%;
  margin: 0 auto;

  .section1-container {
    @include center;
    flex-direction: column;
    padding-top: 60px;

    .section1-date {
      font-family: $font2;
      position: relative;
      text-align: center;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 32%;
        background-color: $color3;
        top: 10px;
        left: 8%;
      }

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 32%;
        background-color: $color3;
        top: 10px;
        right: 8%;
      }
    }

    .section1-txt {
      text-align: center;
      padding-top: 50px;
      width: 60%;

      h2 {
        padding-bottom: 40px;
      }

      p {
        width: 80%;
        line-height: 40px;
        font-style: italic;
        text-align: center;
        margin: 0 auto;
      }
    }

    .section1-img {
      width: 80%;
      background: url(../img/pic01.jpg) center/cover;
      height: 600px;
      margin-top: 50px;

      @media screen and (max-width: 1000px) {
        height: 300px;
      }
    }

    .section-button {
      text-align: center;
      padding: 50px 0 80px 0;
    }
  }
}
